<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=@joaqib_blog.latest_posts[@id.to_i].title %></title>
</head>
<body>
  <h1><%=@joaqib_blog.latest_posts[@id.to_i].title %></h1>
  <p><%=@joaqib_blog.latest_posts[@id.to_i].body%></p>
  <a href="/"><button type= "button">HOME</button></a>
</body>
</html>