<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add | Online Calculator</title>
</head>
<body>
  <h1>ADD</h1>
  <form action = "/calculate_add" method = "POST">
<!--     <label for="first_number">First Number</label>
 -->    <input type="number" name="firstnumber" placeholder="1st number" >
    +
<!--     <label for="second_number">Secon Number</label>
 -->    <input type="number" name="secondnumber"placeholder="2nd number">
        <button type = "submit">Calculate</button>
  </form>
</body>
</html>