<h1>My first Sinatra</h1>
<p>
  <b>Author</b>
  <%= @username %>
</p>

<% if Date.today.monday? %>
<p>
  blah blah blah <strong>NOT</strong> blah blah blah
</p>
<% end %>

<p>
  Izzy was born in <%= Date.today %>
</p>