<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <div>
  <h1>MovieQuizz</h1>
  <form action="/moviequizz" method="POST">
    <input type="text" name="topic" placeholder="name of the topic">
    <button type="button">Search</button>
  </form>
  </div>

</body>
</html>